html,body{height:100%;width:100%}
body{background:#f8f8f8;position:relative;overflow:hidden;display:flex;flex-direction:column;}
.ng-cloak{display:none;}
body>nav{display:flex;}
body>nav>ul:nth-child(2){flex-grow:1;text-align:center;}
body>nav>ul:nth-child(2)>li{display:inline-block;float:none;}
.site.navbar-nav .active:after{content:' ';position:absolute;left:0;right:0;bottom:-1px;height:3px;background:red;}
.container{flex:1.0;overflow:hidden;position:relative;display:flex;padding:0;}
#viewMissions,#viewMatter{display:flex;flex-direction:column;border:1px solid #ddd;border-radius:4px;background:#fff;}
#viewMissions{flex:1.0;margin-right:8px;}
#viewMatter{flex:2.0;}
.navbar.ytx-top{margin:-1px -1px 0;}
.navbar.ytx-bottom{margin:0 -1px;min-height:64px;}
.navbar.ytx-bottom .container-fluid{text-align:center;}
.navbar.ytx-bottom .container-fluid .navbar-form{display:inline-block;}

/*missions*/
#viewMissions .missions{flex:1.0;overflow-y:auto;overflow-x:hidden;padding-top:15px;}
#viewMissions .thumbnail{padding:8px;}
#viewMissions .thumbnail.selected{border-color:#66afe9;}
#viewMissions .thumbnail .state{border-bottom:1px solid #ddd;margin-bottom:8px;}
#viewMissions .thumbnail .state label{width:100%;}
#viewMissions .thumbnail .content{height:145px;display:flex;flex-direction:column;cursor:pointer;position:relative;}
#viewMissions .thumbnail .content .summary{flex:1;overflow:hidden;}
#viewMissions .thumbnail .content .attr{display:flex;}
#viewMissions .thumbnail .content .operator_name{flex:1;}
#viewMissions .thumbnail .content .actions{position:absolute;top:0;right:0;}

/*recent*/
#viewMatter .matters{flex:1.0;overflow-y:auto;overflow-x:hidden;padding:15px;}
#viewMatter .thumbnail{position:relative;height:145px;cursor:pointer;display:flex;flex-direction:column;padding:8px;}
#viewMatter .thumbnail .summary{flex:1;overflow:hidden;}
#viewMatter .thumbnail .attr{display:flex;}
#viewMatter .thumbnail .operator_name{flex:1;}
#viewMatter .thumbnail .actions{position:absolute;top:8px;right:8px;}

/*indicator*/
#viewMissions .thumbnail.indicator,#viewMatter .thumbnail.indicator{flex-direction:row;align-items:center;background:#f8f8f8;}
#viewMissions .thumbnail.indicator>div,#viewMatter .thumbnail.indicator>div{flex:1.0;font-size:18px;text-align:center;}