<div class='tile' ng-controller="ctrlPhase">
    <div class='list-group phases'>
        <div class='list-group-item phase clearfix' ng-repeat="p in phases">
            <div style='text-align:right'>
                <button class='btn btn-default' ng-click="remove(p)">删除期数</button>
            </div>
            <div class='help-block'>期数名称</div>
            <input type="text" class="form-control" ng-model="p.title" tms-auto-update tms-wait=1000 tms-update="update(p,'title')">
            <div class='help-block'>期数说明</div>
            <textarea class="form-control" ng-model="p.summary" tms-auto-update tms-wait=1000 tms-update="update(p,'summary')"></textarea>
            <div class='help-block'>期数开始时间</div>
            <tms-datepicker class='tms-datepicker' tms-title='开始时间' tms-obj="p" tms-date='p.start_at' tms-state='phase.start_at' tms-mask="y,m,d"></tms-datepicker>
            <div class='help-block'>期数结束时间</div>
            <tms-datepicker class='tms-datepicker' tms-title='结束时间' tms-obj="p" tms-date='p.end_at' tms-state='phase.end_at' tms-mask="y,m,d,23,59"></tms-datepicker>
        </div>
    </div>
    <div class='help-block'>如果您的项目多于1期／次，请点击下面按钮</div>
    <button class='btn btn-success' ng-click="add()">添加期数</button>
</div>