<div wrap="text" class="form-group">为更好的为您提供服务，您的意见将是我们的宝贵资源，烦请您不吝赐教！ 感谢您的时间！</div>
<div wrap="text" class="form-group">1、课程</div>
<div wrap="input" class="form-group form-group-lg" schema="c1001" schema-type="single"><label>本次培训对您有价值或帮助</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1001" value="v1" ng-model="data.c1001" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1001" value="v2" ng-model="data.c1001" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1001" value="v3" ng-model="data.c1001" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1001" value="v4" ng-model="data.c1001" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1001" value="v5" ng-model="data.c1001" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="input" class="form-group form-group-lg" schema="c1002" schema-type="single"><label>本次培训的资料准备充分</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1002" value="v1" ng-model="data.c1002" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1002" value="v2" ng-model="data.c1002" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1002" value="v3" ng-model="data.c1002" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1002" value="v4" ng-model="data.c1002" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1002" value="v5" ng-model="data.c1002" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="input" class="form-group form-group-lg" schema="c1003" schema-type="single"><label>培训内容具有很强的实用性</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1003" value="v1" ng-model="data.c1003" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1003" value="v2" ng-model="data.c1003" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1003" value="v3" ng-model="data.c1003" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1003" value="v4" ng-model="data.c1003" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1003" value="v5" ng-model="data.c1003" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="input" class="form-group form-group-lg" schema="c1004" schema-type="single"><label>培训内容深度适中、易于理解</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1004" value="v1" ng-model="data.c1004" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1004" value="v2" ng-model="data.c1004" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1004" value="v3" ng-model="data.c1004" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1004" value="v4" ng-model="data.c1004" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1004" value="v5" ng-model="data.c1004" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="input" class="form-group form-group-lg" schema="c1005" schema-type="single"><label>您对本次培训的整体评价</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1005" value="v1" ng-model="data.c1005" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1005" value="v2" ng-model="data.c1005" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1005" value="v3" ng-model="data.c1005" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1005" value="v4" ng-model="data.c1005" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c1005" value="v5" ng-model="data.c1005" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="text" class="form-group">2、讲师&nbsp;</div>
<div wrap="input" class="form-group form-group-lg" schema="c2001" schema-type="single"><label>讲师的讲义质量较高</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2001" value="v1" ng-model="data.c2001" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2001" value="v2" ng-model="data.c2001" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2001" value="v3" ng-model="data.c2001" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2001" value="v4" ng-model="data.c2001" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2001" value="v5" ng-model="data.c2001" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="input" class="form-group form-group-lg" schema="c2002" schema-type="single"><label>讲师的仪表及个人形象良好</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2002" value="v1" ng-model="data.c2002" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2002" value="v2" ng-model="data.c2002" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2002" value="v3" ng-model="data.c2002" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2002" value="v4" ng-model="data.c2002" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2002" value="v5" ng-model="data.c2002" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="input" class="form-group form-group-lg" schema="c2003" schema-type="single"><label>讲师在培训过程中态度友善</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2003" value="v1" ng-model="data.c2003" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2003" value="v2" ng-model="data.c2003" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2003" value="v3" ng-model="data.c2003" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2003" value="v4" ng-model="data.c2003" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2003" value="v5" ng-model="data.c2003" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="input" class="form-group form-group-lg" schema="c2004" schema-type="single"><label>讲师具有很好的演讲与口才表达能力</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2004" value="v1" ng-model="data.c2004" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2004" value="v2" ng-model="data.c2004" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2004" value="v3" ng-model="data.c2004" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2004" value="v4" ng-model="data.c2004" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2004" value="v5" ng-model="data.c2004" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="input" class="form-group form-group-lg" schema="c2005" schema-type="single"><label>讲师对培训过程的控制安排合理</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2005" value="v1" ng-model="data.c2005" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2005" value="v2" ng-model="data.c2005" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2005" value="v3" ng-model="data.c2005" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2005" value="v4" ng-model="data.c2005" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2005" value="v5" ng-model="data.c2005" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="input" class="form-group form-group-lg" schema="c2006" schema-type="single"><label>讲师能有效激发学员的热情与思考</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2006" value="v1" ng-model="data.c2006" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2006" value="v2" ng-model="data.c2006" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2006" value="v3" ng-model="data.c2006" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2006" value="v4" ng-model="data.c2006" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2006" value="v5" ng-model="data.c2006" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="input" class="form-group form-group-lg" schema="c2007" schema-type="single"><label>讲师与学员互动良好，解答问题清晰明确</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2007" value="v1" ng-model="data.c2007" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2007" value="v2" ng-model="data.c2007" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2007" value="v3" ng-model="data.c2007" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2007" value="v4" ng-model="data.c2007" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2007" value="v5" ng-model="data.c2007" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="input" class="form-group form-group-lg" schema="c2008" schema-type="single"><label>讲师的整体授课水平较高</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2008" value="v1" ng-model="data.c2008" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2008" value="v2" ng-model="data.c2008" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2008" value="v3" ng-model="data.c2008" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2008" value="v4" ng-model="data.c2008" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c2008" value="v5" ng-model="data.c2008" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="text" class="form-group">3、培训经理</div>
<div wrap="input" class="form-group form-group-lg" schema="c3001" schema-type="single"><label>培训经理有很强的专业度和责任心</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c3001" value="v1" ng-model="data.c3001" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c3001" value="v2" ng-model="data.c3001" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c3001" value="v3" ng-model="data.c3001" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c3001" value="v4" ng-model="data.c3001" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c3001" value="v5" ng-model="data.c3001" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="text" class="form-group">4、其它&nbsp;</div>
<div wrap="input" class="form-group form-group-lg" schema="c4001" schema-type="single"><label>我花时间/精力参加本次培训很值得</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c4001" value="v1" ng-model="data.c4001" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c4001" value="v2" ng-model="data.c4001" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c4001" value="v3" ng-model="data.c4001" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c4001" value="v4" ng-model="data.c4001" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c4001" value="v5" ng-model="data.c4001" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="input" class="form-group form-group-lg" schema="c4002" schema-type="single"><label>我愿意继续参加此类培训</label>
<ul>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c4002" value="v1" ng-model="data.c4002" /><span>非常同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c4002" value="v2" ng-model="data.c4002" /><span>同意</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c4002" value="v3" ng-model="data.c4002" /><span>一般</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c4002" value="v4" ng-model="data.c4002" /><span>有待提高</span></label></li>
<li class="radio-inline" wrap="radio"><label class="radio-inline"><input type="radio" name="c4002" value="v5" ng-model="data.c4002" /><span>不同意</span></label></li>
</ul>
</div>
<div wrap="input" class="form-group form-group-lg" schema="c5001" schema-type="longtext"><label>本次培训中您最大的收获</label><textarea style="height: auto;" ng-model="data.c5001" title="本次培训中您最大的收获" class="form-control" rows="3"></textarea></div>
<div wrap="input" class="form-group form-group-lg" schema="c5002" schema-type="longtext"><label>您的感受和建议</label><textarea style="height: auto;" ng-model="data.c5002" title="您的感受和建议" class="form-control" rows="3"></textarea></div>
<div id="act1" class="form-group" wrap="button"><button class="btn btn-primary btn-block btn-lg" ng-click="submit($event,'result')"><span>提交评价信息</span></button></div>